/*Remove Arrows/Spinners*/
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}
/************************************** DESKTOP VIEW ****************************************/
body{
    font-family: arial, serif;
    color: #333;
    text-align: center;
    background: url("/images/bg.jpg") no-repeat;
    background-size: cover;
}
.main-title{
    font-family: 'creation', sans-serif;
    font-weight: bolder;
    margin: 30px auto;
    font-size: 3.5em;
}
form[name="gpa-forn"]{
    background-color: transparent;
    color:black;
    font-family: Poppins,sans-serif;
}
form[name="gpa-form"] fieldset{
    width: 500px;
    margin: 20px auto;
    text-align: center;
    border-radius: 10px;
    font-weight: bold;
    font-size: 1.2em;
}
.course,select[name="grade"],select[name="credit"]{
    padding: 5px 3px;
    width: 140px;
    border-radius: 3px;
    border: 1px solid #199E6C;
    outline: none !important;
    background-color: inherit;
    font-family: Poppins, sans-serif;
    color: black;
    font-size: inherit;
}
select[name="grade"]{
    width: auto;
}
select[name="credit"]{
    width: 50px;
    text-align: center;
    margin-bottom: 8px;
}
.labels{
    margin:0 10px;
}
button,.closeBtn,#circle{
    box-shadow: inset 0 0 3px #000;
    transition-property: background-color,box-shadow,color;
    transition-duration: .5s;
    transition-timing-function: ease-out;
}
.closeBtn{
    position: absolute;
    font-size: 10pt;
    cursor: pointer;
    background-color: #199E6C;
    color: white;
    border-radius: 3px;
    padding: 5px 8px;
    margin: 7px 0 0 13px;
}
.closeBtn:hover{
    color: black;
}
#add{
    padding: 10px 10px;
    display: block;
    margin: 10px auto;
    border-radius: 8px;
    border: 2px solid #199E6C;
    font-weight: bold;
}
#add:hover{
    background-color: #199E6C;
    border-color: black;
}
button:active,.closeBtn:active{
    transform:translateY(7px);
}
#output{
    display: none;
    margin-top: 20px;
    text-align: center;
}
/* GPA */
#circle{
    height: 160px;
    width: 160px;
    background-color: #199E6C;
    border-radius: 50%;
    margin: 0 auto;
    border: 6px solid black;
}
#gpa{
    font-weight: bold;
    font-size: 3.2em;
    margin-top: 47px;
    color: white;
    font-family: Poppins, sans-serif;
}
/************************************** MOBILE VIEW *****************************************/
@media only screen and (max-width: 600px){
    .main-title{
        font-size: 2em;
    }
    form[name="dimension-form"] fieldset{
        width:auto;
        margin:10px 10px;
    }
    .user_input{
        font-size: 1.5em;
    }

}
